

CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

STRIPE_SECRET=

STRIPE_SUCCESS_URL= http://localhost:3003/payments/success,
STRIPE_CANCEL_URL= http://localhost:3003/payments/cancel,

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QnGmvPOsD4HYwRtlZ9P4EvH
# Este es el signin secret del webhook
STRIPE_ENDPOINT_SECRET=
AUTH_DATABASE_URL=mongodb+srv://*username*:*password*@cluster0.0b2l.mongodb.net/Authdb

JWT_SECRET=OtroStringSeguroTriaAqui

ORDERS_DATABASE_URL=postgresql://
